{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <div class="col-12 col-md-4 offset-md-4 mt-4">
        <div class="card-new p-4">
            <h3 class="text-center mt-4">Восстановление пароля</h3>
            {% if form.errors %}
                <div class="text-danger">
                    {% for error in form.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form class="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" id="" name="new_password1" class="form-control" placeholder="Новый пароль">
                    {% if form.new_password1.errors %}
                        <div class="text-danger">
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="password" id="" name="new_password2" class="form-control" placeholder="Подтвердите новый пароль">
                    {% if form.new_password2.errors %}
                        <div class="text-danger">
                            {% for error in form.new_password2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-success btn-block">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
