{% extends "base.html" %}
{% block content %}
    <div class="col-12 col-md-4 offset-md-4 mt-4">
        <div class="card-new p-4">
            <div class="text-center mt-4">
                <h1>Сброс пароля успешно завершен!</h1>
            </div>
            <div class="container p-4">
                <p class="">Ваш пароль успешно изменен. Вы можете продолжить и войти в систему сейчас.</p>                 
                <a href="/account/login" class="btn btn-outline-success btn-block px-3 py-2 br-10">Войти</a>
            </div>
        </div>
    </div>
{% endblock %}
